.git/
.kitchen/
.kitchen.local.yml
*.lock
Berksfile.lock
Gemfile.lock
Policyfile.lock.json
.bundle/
vendor/
.vagrant/
.DS_Store
*.swp
*.swo
*~
.chef/
encrypted_data_bag_secret
test/.chef/secrets/
coverage/
.rubocop.yml
.rubocop-*.yml
